---
const platform = 'github'
const username = 'Danielorgh05'
---
<footer class="mt-auto bg-gray-950 py-4 mix-blend-screen text-2xl w-full flex justify-center gap-8">
    <p> Contact Me Here: <span> <a href={`https://${platform}.com/${username}`}> {platform} </a>!</span> </p>
</footer>