---
---
<nav class="bg-gray-950 py-4 shadow-2xl shadow-gray-950 text-2xl w-full flex justify-center gap-8">
    <a class="bg-gray-900 p-2 border-[1px] rounded-md border-gray-400 hover:bg-gray-600" href="/">Home</a>
    <a class="bg-gray-900 p-2 border-[1px] rounded-md border-gray-400 hover:bg-gray-600" href="/about/">About</a>
</nav>